APScheduler==3.6.3
attrs==19.3.0
beautifulsoup4==4.9.0
Brotli==1.0.7
certifi==2020.4.5.1
chardet==3.0.4
click==6.7
cycler==0.10.0
Cython==0.28.2
dash==0.22.0
dash-core-components==0.13.0rc5
dash-html-components==0.10.0
dash-renderer==0.13.0
decorator==4.3.0
Flask==1.1.2
Flask-Compress==1.5.0
gunicorn==20.0.4
html5lib==1.0.1
idna==2.6
importlib-metadata==1.6.0
ipython-genutils==0.2.0
itsdangerous==1.1.0
Jinja2==2.11.2
jsonschema==3.2.0
jupyter-core==4.6.3
kiwisolver==1.2.0
lxml==4.5.0
MarkupSafe==1.1.1
matplotlib==3.2.1
nbformat==4.4.0
numpy==1.14.2
pandas==0.22.0
pandas-datareader==0.6.0
plotly==2.5.1
pyparsing==2.4.7
pyrsistent==0.16.0
python-dateutil==2.7.2
pytz==2018.4
requests==2.18.4
requests-file==1.5.1
requests-ftp==0.3.1
six==1.14.0
soupsieve==2.0.1
traitlets==4.3.3
tzlocal==2.1
urllib3==1.26.5
webencodings==0.5.1
Werkzeug==0.15.0
wrapt==1.12.1
zipp==3.1.0
